*.meta
*.txt
*.rar
*.asset
*.terrainlayer
*.html
Assets/ImportedAssets/
Assets/Plugins/
Assets/SMirror/
Assets/Textures/
Assets/Materials/
Assets/Prefabs/
Assets/Sprites
Assets/Animations
Assets/Gizmos
Assets/Scenes
Assets/DataBase
Assets/Imported
Assets/Fonts
Assets/Audio
Assets/_TerrainAutoUpgrade
Assets/Models
Assets/Scripts/Transport.Steamworks-master
Assets/CinemachinePostProcessingV2/
/Library
/Build
/Temp
/obj
/Logs
/Packages
*.dll
.vs
playerData.json
*.zip
*.png
*.csproj
*.asmdef
*.FBX
*.mat
*.tga
*.prefab
Assets/Demigiant/DOTween/DOTween.XML
records.json
ShootingVegetables.sln
